@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #f0f0ec;
  background: #0d1117;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-display {
  font-family: "Playfair Display", Georgia, serif;
}

.font-mono-label {
  font-family: "DM Mono", monospace;
}
